{% include 'store/base.html'  %}
{% load static  %}


{% block content %}

<style>
        body {
            background-color: grey;
        }
</style>


<body>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <div class="text-center">
            <i class="fa fa-check fa-3x text-success" aria-hidden="true"></i>
            <br> <br>
            <h3><strong> Your account is now active ! </strong></h3>
            <hr>
            <p>Please proceed to login.</p>
            
        </div>

    </div>
</body>
{% endblock %}