{% include 'store/base.html'  %}
{% load static  %}


{% block content %}

<style>
        body {
            background-color: grey;
        }
</style>


<body>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <div class="text-center">
            <i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
            <br> <br>
            <h3><strong>A verification link was sent to your email !</strong></h3>
            <hr>
            <p>Please check your email</p>

        </div>

    </div>
</body>
{% endblock %}
