{% include 'store/base.html'  %}
{% load static  %}
{% load crispy_forms_tags %}

{% block content %}

    <style>
        body {
            background-color: grey;
        }
    </style>

<body>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <h3> Delete your account</h3>
        <br>
        <br>
        <form method="post" autocomplete="off">
            {% csrf_token %}

            <p> Are you sure that you want to delete account?</p>

            <button type="submit" class="btn btn-danger btn-lg w-100 btn-block p-2"> &nbsp; Delete account </button>
            <br> <br>
            <a href="{% url 'store:store' %}"><button type="button" class="btn btn-primary btn-lg w-100 btn-block p-2"> &nbsp; Go back </button></a>
        </form>
    </div>

</body>




{% endblock %}